.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
    text-align: center;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
    display: inline-block;
}
.card-img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2px;
}
.card-title{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    color: aqua;
}
.card-text{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: rgb(2, 2, 3);
}
.student{
    max-width: 250px;
    text-align: center;
    border: solid cornflowerblue;
    border-radius: 2px;
    padding: 2px;
    margin: 0px;


}
.student p{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    font-size: 2em;
    margin: 1px;
    padding: 10px;
}
.userin{
    font-family: Arial, Helvetica, sans-serif;
    background-color:green;
    border-radius: 2px;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.userout{
    font-family: Arial, Helvetica, sans-serif;
    background-color:red;
    border-radius: 2px;
    color: aliceblue;
    padding: 2px;
    text-align: center;
    margin: 10;
    
}
.title{
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    border: 2px solid;
    padding: 0;
    margin: 0;
}
.list{
    list-style: none;
    text-align: center;
    margin: 0;
    font-size: 2em;
}